<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/index.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    <nav>
      <a href="/"><i class="fa fa-home fa-lg"></i></a>
      <a href="/my-dev-squad"><i class="fa fa-users fa-lg"></i></a>
      <a href="/add-new-ironhacker"><i class="fa fa-plus fa-lg"></i></a>
    </nav>
    {{{body}}}
  </body>
</html>
